%h1 List of Holidays

%table
  %tr
    %th ReStart date
    %th URN
    %th Address
    %th From date
    %th To date
    %th
    -if current_customer.try(:admin?)
      %th
      %th Status

  - @customer_holidays.each do |customer_holiday|
    %tr
      %td= format_long_date(customer_holiday.to_date + 1.day) unless customer_holiday.to_date.nil?
      %td= customer_holiday.try(:urn)
      %td= customer_holiday.try(:address)
      %td= format_long_date(customer_holiday.from_date)
      %td= format_long_date(customer_holiday.to_date)
      %td= link_to_show customer_holiday
      -if current_customer.try(:admin?)
        %td= link_to_edit(customer_holiday)
        %td= best_in_place customer_holiday, :status, :type => :input, :nil => "Click"

%br

= link_to 'New Holiday? Click here', new_customer_holiday_path
