<%= semantic_form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :email, :input_html => {:size => 30} %>
    <%= f.input :urn, :input_html => {:size => 6} %>
    <%= f.input :round, :as => :select, :collection => ["A","B","C","D","E","F","I"], :prompt => 'select one' %>
    <%= f.input :role, :as => :select, :collection => ["customer","admin", "moderator", "banned"], :prompt => 'select'  %>
    <%= f.input :name, :input_html => {:size => 50} %>
    <%= f.input :address, :input_html => {:size => 50} %>
    <%= f.input :address_2, :label => "&nbsp;", :input_html => { :size => 50 } %>
    <%= f.input :address_3, :label => "&nbsp;", :input_html => { :size => 50 } %>
    <%= f.input :town, :input_html => {:size => 50} %>
    <%= f.input :post_code, :input_html => {:size => 10} %>
    <%= f.input :telephone, :input_html => {:size => 20} %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>