<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :urn %><br />
    <%= f.text_field :urn %>
  </div>
  <div class="field">
    <%= f.label :round %><br />
    <%= f.text_field :round %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.text_field :address_2 %>
  </div>
  <div class="field">
    <%= f.text_field :address_3 %>
  </div>
  <div class="field">
    <%= f.label :town %><br />
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.label :post_code %><br />
    <%= f.text_field :post_code, :class  => 'upper' %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.collection_select :role, Customer::ROLES, :to_s, :humanize, :prompt => 'Please select a type' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>