<% if current_customer.try(:admin?) %>
<h1>Customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>URN/Rnd:</th>
    <th>Telephone:</th>
    <th>Role</th>
    <th>Pst Cde</th>
    <th>Login#</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.urn %>/<%= customer.round %></td>
    <td><%= customer.telephone %></td>
    <td><%= customer.role %></td>
    <td><%= customer.post_code %></td>
    <td><%= customer.sign_in_count %></td>
    <td><%= customer.email %></td>
    <td><%= link_to_show customer %></td>
    <td><%= link_to_edit(customer) %></td>
    <td><%= link_to destroy_img, customer, :method=>:delete, :confirm=>"Are you sure you want to delete this?", :remote=>:true, :class=>"balert" %></td>
  </tr>
<% end %>
</table>

<% end %>