<h1>Listing orders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Order#</th>
    <th>Email</th>
    <th>Pay type</th>
    <th>Required date</th>
  </tr>

<% for order in @orders %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.id %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td><%= format_date(order.required_date) %></td>
    <% if current_customer.try(:admin?) %>
      <td><%= link_to 'Show', order %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_customer.try(:admin?) %>
  <%= link_to 'New order', new_order_path %>
<% end %>