<p>
   Address:<strong> <%= @order.try(:address) %></strong>
   URN:<strong> <%= @order.customer.try(:urn) %>/<%= @order.customer.try(:round) %></strong>
   Required date:<strong> <%= format_long_date(@order.required_date) %></strong>
   Order#:<strong>  <%= @order.id %></strong>
</p>
<p>
   Created:<strong> <%= format_date(@order.created_at) %></strong>
   Last Updated:<strong> <%= format_date(@order.updated_at) %></strong>
   Status:<strong>  <%= process_status(@order.try(:status)) %></strong>
</p>

<p>
  Order name :<strong> <%= @order.try(:name) %></strong>
  Email:<strong> <%= @order.try(:email) %></strong>
  Paytype:<strong> <%= @order.try(:pay_type) %></strong>
  Repeat:<strong> <%= @order.try(:repeat) %></strong>
</p>

<p>
  Instructions:<strong> <%= @order.try(:instructions) %></strong>
</p>

<p>
  Complete address:<strong> <%= @order.try(:address) %>, <%= @order.try(:address_2) %>, <%= @order.try(:address_3) %>, <%= @order.try(:town) %>, <%= @order.try(:post_code) %></strong>
</p>

<%= render :partial => 'line_items', :locals => { :order => @order } %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
