<h1>Meet Our Suppliers</h1>
<div class="justify">
<table border="0" cellspacing="10" class="justify">
<tbody>
<tr>
<td width="25%"><%= image_tag("pensworth.png", :width=>"132", :height=>"69", :alt => "", :id => "pensworth") %></td>
<td valign="top"> <br />
<p class="justify">
<strong>Pensworth Dairy &#8211; Southampton.</strong> A family run business started in 1975 as a dairy farming partnership. The three partners started milking 200 Friesian dairy cattle. Today the company has expanded its distribution to cover most of the South of England and South Wales, restructuring the business into three major distribution centres at Watford, Aylesbury and Cheshunt. Walden Dairy’s milk comes from Cheshunt in Hertfordshire.</p>
</p>
</td>
</tr>
<tr>
<td width="25%"><%= image_tag("impeccable-eggs.png", :width=>"126", :height=>"132", :alt => "", :id => "impeccable-eggs") %></td>
<td valign="top">
<p class="justify">
<strong>Impeccable Eggs, Highfield Farm &#8211; Barkway.</strong> A family run business with the   mission to reconnect consumers with their local producers and encourage local trade; to give farmers a better deal and consumers fresher, cheaper, accountable food. Their speciality is Free Range Eggs – with all chickens fed on the highest quality feed.
</p>
</td>
</tr>
<tr>
<td width="25%"><%= image_tag("iceni-water.png", :width=>"152", :height=>"54", :alt => "", :id => "iceni-water") %></td>
<td valign="top">
<p class="justify">
<strong>Iceni Water &#8211; sourced and bottled in South Cambridgeshire</strong>. A new English natural still or sparkling mineral water. Filtered through deep chalk strata it is naturally purified, high in calcium and low in sodium with a clean, refreshing taste. This young water is drawn from a continuously replenished aquifer in the heart of our country &#8211; so it doesn’t need to travel too far to reach you.
</p>
</td>
</tr>
<tr>
<td width="25%"><%= image_tag("essex-honey.png", :width=>"114", :height=>"107", :alt => "", :id => "essex-honey") %></td>
<td valign="top">
<p class="justify">
<strong>Essex Honey &#8211; Great Sampford.</strong> Clear and set honey from local hives.  The colour and flavour of honey differs depending on the nectar source (the blossoms) visited by the honey bees. Honey colour ranges from nearly colourless to dark brown, and its flavour varies from mild to distinctively bold, depending on the nectar source. As a general rule, light-coloured honey is milder in taste and dark-coloured honey is stronger.</p>
</p>
</td>
</tr>
<tr>
<td width="25%"><%= image_tag("james-white.png", :width=>"166", :height=>"50", :alt => "", :id => "james-white") %></td>
<td valign="top">
<p class="justify">
<strong>James White &#8211; Ashbocking, Suffolk .Fruit Juices.</strong> Makers of non-alcoholic juices and cordials and some of the finest fresh pressed juices in the world. For over 20 years they have been tasting, testing and experimenting to deliver a delicious range of juices from classic English apples to lively organic vegetable juices. </p>
</p>
</td>
</tr>
<tr>
<td width="25%"><%= image_tag("priors-hall-farm.png", :width=>"156", :height=>"106", :alt => "", :id => "priors-hall-farm") %></td>
<td valign="top">
<p class="justify">
<strong>Priors Hall Farm &#8211; Lindsell.</strong> Pigs reared to the highest welfare standards bedded on straw and fed home grown grain. The Menhinick family have been farming arable crops and rearing pedigree pigs at Priors Hall Farm for three generations. Their aim is to sell quality home grown produce to local people.</p>
</p>
</td>
</tr>
<tr>
<td width="25%"><%= image_tag("cambridge-organic.png", :width=>"154", :height=>"118", :alt => "", :id => "cambridge-organic") %></td>
<td valign="top">
<p class="justify">
<strong>The Cambridge Organic Food Company &#8211; Haslingfield. Fruit and Vegetables</strong> Supplied by Audley End kitchen garden and other organic growers and food producers local to Cambridge and the surrounding area. We are supporting them  in their quest to develop a forward thinking and sustainable fuel system of food distribution. </p>
</p>
</td>
</tr>
<tr>
<td width="25%"><%= image_tag("highfield-farm.png", :width=>"123", :height=>"121", :alt => "", :id => "highfield-farm") %></td>
<td valign="top">
<p class="justify">
<strong>Highfield Farm &#8211; Barkway. Gourmet hand reared Free Range White Turkeys.</strong> From the same family &#8211; run farm that supplies our free range eggs. These are gourmet white turkeys’ home reared on natural local feed. Using the guide on the order form you can choose the size of the turkey that’s right for you.
</p>
</td>
</tr>
<tr>
<td width="25%"><%= image_tag("stonebridge-farm.png", :width=>"149", :height=>"114", :alt => "", :id => "stonebridge-farm") %></td>
<td valign="top">
<p class="justify">
<strong>Stonebridge Farm &#8211; Little Walden. Handmade Christmas Puddings and Cakes.</strong> A small family run business who are passionate about fresh and locally produced food and strive to grow and sell farm-fresh produce. The Christmas puddings and cakes are produced using the finest ingredients and maintain that ‘just cooked’ quality. Both can be gift wrapped if they are to be bought as a present for a small additional cost.
</p>
</td>
</tr>
<tr>
<td width="25%"><%= image_tag("saffron-ice-cream.png", :width=>"171", :height=>"94", :alt => "", :id => "saffron-ice-cream") %></td>
<td valign="top">
<p class="justify">
<strong>The Saffron Ice Cream Company &#8211; Henham. Handmade with 100% natural and locally sourced ingredients.</strong> Micro producers of natural, seasonal ice cream using local ingredients which are often hand -picked to ensure the highest quality and best flavours. They believe that buying local, benefits our community and reduces our carbon footprint.
</p>
</td>
</tr>
<tr>
<td width="25%"><%= image_tag("joseph-barnes.png", :width=>"188", :height=>"51", :alt => "", :id => "joseph-barnes") %></td>
<td valign="top">
<p class="justify">
<strong>Joseph Barnes Wines &#8211; Saffron Walden. Award winning suppliers of unusual and interesting wines from small Domains and Chateaux. </strong>The wine might not be local but Joseph Barnes Wines are and they too are supporting smaller suppliers. Tired of getting the wrong wine to complement your cooking?  Let the experts take the strain with their handpicked selection of wines to support the course and the occasion.
</p>
</td>
</tr>
<tr>
<td width="25%"><%= image_tag("saffron-brewery.png", :width=>"111", :height=>"99", :alt => "", :id => "saffron-brewery.png") %></td>
<td valign="top">
<p class="justify">
<strong>Saffron Brewery &#8211; Henham. Award winning real ales.</strong>  If beer is more your thing, why not try our very own local Saffron Brewery &#8211; a one-man brewery producing heritage ales with a contemporary twist. Using an ingeniously improvised assortment of plant and a lively imagination a range of award winning real ales has been created.
</p>
</td>
</tr>
</tbody>
</table>
