<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Thank you for choosing Walden Dairy!</h2>
    <p><%= image_tag attachments['small_wd_banner.png'].url -%></p>
    <p>
      You last signed in to waldendairy.com <%= time_ago_in_words(@quicknote.customer.last_seen) << " ago" unless @quicknote.customer.last_seen.nil? %>
    </p>
    <p>
      Here is a quick note from us:<br/><br/>
      <%= @quicknote.try(:note) %> <br/>
    </p>
    <p>
        To login to the site, just follow this link: <%= @url %>.
      Or
        If you have forgotten your password, then please follow this link: <%= @forgot_url %>
    </p>
    <p>Thank you again for your custom.</p>
    <p></p><%= link_to "Follow us on twitter", "http://twitter.com/waldendairy", :target => "_blank"  %>
    <br/>
    <br/>
    <br/>
    <p></p>
    <p>
     <%= link_to (image_tag attachments['small_sh_banner.png'].url), "http://saffronhosts.com", :target => "_blank"  %>
    </p>
  </body>
</html>