<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for choosing Walden Dairy!</h1>
    <p><%= image_tag attachments['small_wd_banner.png'].url -%></p>
    <h1>Welcome to waldendairy.com, <%= @order.name %></h1>
    <p>
      You have successfully ordered from waldendairy.com,
      your order number is: <%= @order.id %>.<br/>
      <%= link_to "View your order here", ("https://waldendairy.com/orders/" + (@order.id).to_s), :target => "_blank"  %>
    </p>
    <p>
      Your instructions: <%= @order.instructions %>.<br/>
    </p>
    <p>
      required date: <%= @order.required_date %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thank you for your order, WaldenDairy</p>
    <p></p><%= link_to "Follow us on twitter", "http://twitter.com/waldendairy", :target => "_blank"  %>
    <br/>
    <br/>
    <br/>
    <p></p>
    <p>
     <%= link_to (image_tag attachments['small_sh_banner.png'].url), "http://saffronhosts.com", :target => "_blank"  %>
    </p>

  </body>
</html>