<div class="top_section">
   <span><%= render :text => "    Shopping cart" %></span>
   <div class="full_basket"></div>
</div>
<div id="jcart">
  <div id="response">status</div><%= image_tag 'ajax-loader.gif', :id => 'loading', :style => 'display: none' %>
  <table id="cartListTable">
    <%= render(:partial => "cart_item", :collection => cart.items) %>

    <tr class="total_line">
      <td class="total_cell"></td>
      <td class="total_cell">Total:</td>
      <td class="total_cell"><%= quid(cart.total_price) %></td>
    </tr>
  </table>

  <%= button_to "Checkout", {:action => :checkout}, {:class=>"cart_button_checkout"} %>

  <br />
  <%= button_to "Empty cart", {:action => :empty_cart}, {:class=>"cart_button"}  %>
</div>
