<%= form_for(@product, :url => @product, :html => { :multipart => true }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= image_tag @product.picture.url(:tiny) %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <label for="product_picture">Picture</label><br />
      <input type="text" id="fileName" class="file_input_textbox" readonly="readonly">
      <div class="file_input_div">
        <input type="button" value="Search for image" class="file_input_button" />
        <input type="file"  name="product[picture]" class="file_input_hidden" onchange="javascript: document.getElementById('fileName').value = this.value" />
      </div>
   <br />
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :discontinued %><br />
    <%= f.check_box :discontinued, :class => "checkbox" %>
  </div>
  <div class="field">
    <%= f.label :out_of_stock %><br />
    <%= f.check_box :out_of_stock, :class => "checkbox" %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.collection_select(:category_id, Category.all, :id, :name, :include_blank => true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
