  <%= form_tag products_path, :method => 'get' do %>
    <p>
      Search:
      <%= autocomplete_field_tag :search, params[:search], products_autocomplete_product_name_path %>
      <%= submit_tag "GO", :class => "go_button", :id => "go_button" %>
    </p>
  <% end %>

  <div id="products"><%= render 'products' %></div>
<br />

<% if current_customer.try(:admin?) %>
  <%= link_to 'New Product', new_product_path %>
<% end %>

