<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>


  <table class="pretty" id="productsTable">
    <tr>
      <th class="productImage"></th>
      <th>Name</th>
      <% if customer_signed_in? %>
      <th>Price</th>
      <th>&nbsp;</th>
      <% end %>
      <% if current_customer.try(:admin?) %>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <% end %>
    </tr>
    <% for product in @products %>
      <tr>
        <td class="productImage"><%= link_to (image_tag product.picture.url(:tiny)), product  %> </td>
        <td><%= link_to product.name, product %></td>
        <% if customer_signed_in? %>
         <td class="price"><%= quid(product.price) %></td>
         <td>
           <%= form_tag url_for(:action => "add_to_cart", :id=>product.id), :id => "cart-form", :remote => true do %>
             <%= product.out_of_stock? ? 'Out of Stock' : (button_to "Add to Cart") %>
           <% end %>
         </td>
         <td>
           <%= form_tag url_for(:action => "remove_from_cart", :id=>product.id), :id => "cart-form", :remote => true do %>
             <%= product.out_of_stock? ? '_' : (button_to "[-]") %>
           <% end %>
         </td>
         <% end %>
         <% if current_customer.try(:admin?) %>
         <td><%= link_to_show product %></td>
         <td><%= link_to_edit(product) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

<div class="digg_pagination">
  <%= paginate @products %>
</div>