  <%=  error_messages_for 'order' %>

<h1>Checkout</h1>
<%= semantic_form_for :order, :url => { :action => :save_order, :customer_id => current_customer.id } do |f| %>
        <h3>URN/Round:<%= current_customer.urn %>/<%= current_customer.round %></h3>
        <p class="italic">Please check your order and then hit the checkout button.</p>
        <%= f.inputs do %>
          <%= f.input :name, :input_html => {:size => 50, :value => current_customer.name } %>
          <%= f.input :email, :input_html => {:size => 50, :value => current_customer.email } %>
          <%= f.input :pay_type, :as => :select, :collection => ["Cheque", "BACS"], :prompt => 'Please select a payment method' %>
          <%= f.input :repeat, :as  => :radio, :hint => "Is this a repeated order?" %>
          <%= f.input :required_date, :as => :string, :label => "Required date", :input_html => { :size => 35 } %>
          <%= f.input :address, :input_html => {:size => 50, :value => current_customer.address } %>
          <%= f.input :address_2, :label => "&nbsp;", :input_html => { :size => 50, :value => current_customer.address_2 } %>
          <%= f.input :address_3, :label => "&nbsp;", :input_html => { :size => 50, :value => current_customer.address_3 } %>
          <%= f.input :town, :input_html => { :size => 50, :value => current_customer.town } %>
          <%= f.input :post_code, :input_html => {:size => 10, :value => current_customer.post_code } %>
          <%= f.input :instructions, :as  => :text, :hint => "Put some special instructions here, if required. " %>
        <% end %>
    <%= submit_tag "Checkout", :class => "submit" %>
<% end %>

