  <%=  error_messages_for 'order' %>

<h1>Checkout</h1>
<%= semantic_form_for :order, :url => { :action => :save_order, :customer_id => current_customer.id } do |f| %>
        <h3>URN/Round:<%= current_customer.urn %>/<%= current_customer.round %></h3>
        <p class="italic">Please check your order and then click the checkout button.</p>
        <p class="italic">An email will be sent automatically to you when you order is submitted.</p>
        <br />
        <%= f.inputs do %>
          <%= f.input :name, :input_html => {:size => 50, :value => current_customer.name } %>
          <%= f.input :email, :input_html => {:size => 50, :value => current_customer.email } %>
          <%= f.input :repeat, :as  => :radio, :hint => "Is this a repeated order?" %>
          <%= f.input :required_date, :as => :string, :label => "Required date", :input_html => { :size => 35 }, :hint => "Please pick a date. N.B. Orders have a 48 hour lead-time. Excludes Sundays and National holidays. " %>
          <%= f.input :pay_type, :as => :select, :collection => ["Cheque", "BACS"], :prompt => 'Please select a payment method' %>
          <div id="payinfo">
            <p class="italic"><strong>Please note:</strong> We do not accept payments through this website. We take payments by Cheque or BACS</p>
            <p class="italic">If you are using BACS, please do so through your own internet banking website, remembering to <strong>quote your URN as a reference</strong>.</p>
            <p class="italic">Our sort code is: 20-74-05 and our account number is: 90951080.</p>
          </div>
          <%= f.input :address, :input_html => {:size => 50, :value => current_customer.address } %>
          <%= f.input :address_2, :label => "&nbsp;", :input_html => { :size => 50, :value => current_customer.address_2 } %>
          <%= f.input :address_3, :label => "&nbsp;", :input_html => { :size => 50, :value => current_customer.address_3 } %>
          <%= f.input :town, :input_html => { :size => 50, :value => current_customer.town } %>
          <%= f.input :post_code, :input_html => {:size => 10, :value => current_customer.post_code } %>
          <%= f.input :instructions, :as  => :text, :hint => "Put some special instructions here, if required. " %>
        <% end %>
    <%= submit_tag "Submit your order", :class => "submit" %>
<% end %>

