<p>
<%= image_tag @product.picture.url(:medium) %>
</p>
<% if current_customer.try(:admin?) %>
  <p>
    <b>Code:</b>
    <%= @product.product_code %>
  </p>
<% end %>
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<% if customer_signed_in? %>
  <p>
    <b>Price:</b>
    <%= format_price(@product.price) %>
  </p>
<% end %>

<% unless @product.category.nil? %>
<p>
  <b>Category:</b>
  <%# link_to h(@product.category.name), @product.category %>
  <%= link_to h(@product.category.name), for_category_category_products_path(@product.category) %>
</p>
<% end %>
<p>
  <b>Description:</b>
  <%= @product.description %>
</p>
<% unless @product.supplier.nil? %>
<p>
  <b>Supplier:</b>
  <%# link_to h(@product.category.name), @product.category %>
  <%= link_to h(@product.supplier.name), supplier_path(@product.supplier_id) %>
</p>
  <% unless @product.supplier.information.blank? %>
  <p>
    <b>Supplier information:</b>
    <%= @product.supplier.information %>
  </p>
  <% end %>
<% end %>
<p>
  <b>In Stock:</b>
<%= @product.out_of_stock? ? 'NO' : 'YES' %>
</p>


<% if customer_signed_in? && @product.in_stock?  %>
 <%= form_tag url_for(:action => "add_to_cart", :id=>@product.id), :id => "cart-form", :remote => true do %>
   <%= button_to "Add to Basket" %>
 <% end %>
<% end %>


<% if current_customer.try(:admin?) %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
<% end %>