<p>
<%= image_tag @product.picture.url(:medium) %>
</p>  

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= quid(@product.price) %>
</p>
<% unless @product.category.nil? %>
<p>
  <b>Category:</b>
  <%# link_to h(@product.category.name), @product.category %>
  <%= link_to h(@product.category.name), for_category_category_products_path(@product.category) %>
</p>
<% end %>

<% if customer_signed_in? %>
 <%= form_tag({:action=>'add_to_cart', :id=>@product.id}, :remote=>true) do %>
   <%= button_to "Add to Cart" %>
 <% end %>
<% end %> 

<% if current_customer.try(:admin?) %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
<% end %>