<p>
<%= image_tag @product.picture.url(:medium) %>
</p>  

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= quid(@product.price) %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


<!-- <%= form_for @product do |f| %>
  <%=f.autocomplete_field :name, products_autocomplete_product_name_path, :size => '60' %>
<% end %>   -->

