<!--start footer partial -->

<footer id="footer">
  <%= image_tag("easter_grass.png", :alt => "hols", :id => "hols") %>
  <nav>
    <ul>
      <li>Copyright &copy; MMXI </li>
      <li><%= link_to "About",      about_path %></li>
      <li><%= link_to "Contact",    contact_path %></li>
      <li><%= link_to "Privacy",    privacy_path %></li>
      <li><%= link_to "Disclaimer", disclaimer_path %></li>
      <li><%= link_to "Security",   security_path %></li>
      <li><%= link_to "Help",       help_path %></li>
      <li><a href="//validator.w3.org/check?uri=referer">[validate]</a></li>
      <li><a href="//www.is-land.com"><img id="beta_logo" src="/images/island_beta.gif"  title="Developed by IS-land.com" alt="IS-land.com"></a></li>
    </ul>
  </nav>
</footer>
<!--end footer partial -->