<!--start footer partial -->
<div id="footer">
      Copyright &copy; MMXII |
      <%= link_to "About",      about_path %> |
      <%= link_to "Contact",    contact_path %> |
      <%= link_to "Privacy",    privacy_path %> |
      <%= link_to "Disclaimer", disclaimer_path %> |
      <%= link_to "Security",   security_path %> |
      <%= link_to "Help",       help_path %> |
</div>
<!--end footer partial -->