<header>
  <nav id="login_nav">
    <% if customer_signed_in? %>
      <%= "Welcome back, you last signed in " << time_ago_in_words(current_customer.last_sign_in_at) << " ago ~" unless current_customer.last_sign_in_at.nil? %>
      Signed in as <%= current_customer.email %>. Not you?
      <%= link_to "Sign out", destroy_customer_session_path %>
    <% else %>
      <%= link_to "Sign up", new_customer_registration_path %> or <%= nav_link "sign in", new_customer_session_path %>
    <% end %>
  </nav>

  <%= link_to logo, root_path %>

    <div>
        <ul id="nav-bar">
          <li><%= nav_link "Home", root_path %></li>
  <% if customer_signed_in? %>
          <% if current_customer.try(:admin?) %>
            <li><%= nav_link "News", announcements_path %></li>
            <li><%= nav_link "Custs", customers_path %></li>
            <li><%= nav_link "Prods", products_path %></li>
            <li><%= nav_link "Supps", suppliers_path %></li>
            <li><%= nav_link "Qlist", quick_list_path %></li>
            <li><%= nav_link "Catz", categories_path %></li>
            <li><%= nav_link "New Ords", my_orders_path %></li>
            <li><%= nav_link "All Ords", orders_path %></li>
            <li><%= nav_link "New Hols", customer_holidays_path %></li>
            <li><%= nav_link "Old Hols", old_holidays_path %></li>
          <% else %>
            <li><%= nav_link "Shop", products_path %></li>
            <li><%= nav_link "Orders", my_orders_path %></li>
            <li><%= nav_link "Holidays", customer_holidays_path %></li>
            <li><%= nav_link "The Pantry", pantry_path %></li>
            <li><%= nav_link "Our Suppliers", merchant_path %></li>
            <li><%= nav_link "News", announcements_path %></li>
          <% end %>
  <% else %>
            <li><%= nav_link "Shop", products_path %></li>
            <li><%= nav_link "Sign Up Here", new_customer_registration_path %></li>
            <li><%= nav_link "Sign in", new_customer_session_path %></li>
  <% end %>
          <% unless current_customer.try(:admin?) %>
            <li><%= nav_link "About", about_path %></li>
            <li><%= nav_link "Contact", contact_path %></li>
            <li><%= nav_link "Help", help_path %></li>
          <% end %>
        </ul>

    </div>

    <div id="flash" class="flash_html">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
    </div>

  <% if params[:controller] == "products" %>
    <%= render :partial => 'search' %>
  <% end %>

</header>

