<header>
  <nav id="login_nav">
    <% if current_customer.try(:admin?) %>
      <%= link_to "Categories", categories_path %> |
    <% end %>
    <% if customer_signed_in? %>
      Signed in as <%= current_customer.email %>. Not you?
      <%= link_to "Sign out", destroy_customer_session_path %>
    <% else %>
      <%= link_to "Sign up", new_customer_registration_path %> or <%= link_to "sign in", new_customer_session_path %>
    <% end %>
  </nav>

  <%= link_to logo, root_path %>

    <section id="navbar">
      <nav id="tabnav">
        <ul>
          <li><%= link_to "Home", root_path %></li>
  <% if customer_signed_in? %>
          <% if current_customer.try(:admin?) %>
            <li><%= link_to "Custs", customers_path %></li>
            <li><%= link_to "Prods", products_path %></li>
            <li><%= link_to "Qlist", quick_list_path %></li>
            <li><%= link_to "Catz", categories_path %></li>
          <% end %>
            <li><%= link_to "Shop", products_path %></li>
            <li><%= link_to "Orders", my_orders_path %></li>
            <li><%= link_to "Holidays", customer_holidays_path %></li>
  <% else %>
            <li><%= link_to "Sign Up Here",  new_customer_registration_url(:protocol => 'https') %></li>
            <li><%= link_to "Sign Up Here", new_customer_registration_path, :protocol => "https" %></li>
            <li><%= link_to "Customer Sign_in", new_customer_session_path, :protocol => "https" %></li>
  <% end %>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Help", help_path %></li>
        </ul>
      </nav>
    </section>

    <div id="flash" class="flash_html">
      <% unless flash[:notice].blank? %>
      <%= flash[:notice]%>
      <% end %>
      <% unless flash[:error].blank? %>
      <%= flash[:error]%>
      <% end %>
    </div>
</header>

