<div id="right_bar">

  <% if customer_signed_in? %>
    <div id="cart">
      <% if @cart %>
        <%= hidden_div_if(@cart.items.empty?, :id => "cart") do %>
          <%= render(:partial => "cart", :object => @cart) %>
        <% end %>

        <% if @cart.items.empty? %>
          <div class="top_section">
            <span><%= render :text => "Your shopping cart is empty" %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<hr />
  <%= render :partial => 'layouts/twitterfollow' %>
<hr />
  <% if customer_signed_in? %>
    <div id="holiday">
      <h3>Going on holiday?</h3>
      <div id="holiday_inner">
      <h4>Please let us know. Click the button.</h4>
        <div id="holiday_button">
          <%= link_to "Holidays?", new_customer_holiday_path, :class=>"holiday_button" %>
          <p>you can suspend your order.</p>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "twitterwidget", :cache => true %>
    <%= render :partial => 'layouts/twitterfeed' %>

  <% end %>

</div>
