<div id="right_bar">

  <div id="cart">
    <% if @cart %>
      <%= hidden_div_if(@cart.items.empty?, :id => "cart") do %>
        <%= render(:partial => "cart", :object => @cart) %>
      <% end %>
    <% end %>
  </div>

  <% if customer_signed_in? %>
    <div id="holiday">
      <h3>Going on holiday?</h3>
      <div id="holiday_inner">
      <h4>Please let us know. Click the button.</h4>
        <div id="holiday_button">
          <%= link_to "Holidays?", new_customer_holiday_path, :class=>"holiday_button" %>
          <p>you can suspend your order.</p>
        </div>
      </div>
    </div>
  <% end %>

  <%= render :partial => 'layouts/twitterfeed' %>

  <%= render :partial => 'layouts/twitterfollow' %>

  <%= render :partial => 'layouts/getFF' %>


  <div>
    <p><%= image_tag("van1.png", :alt => "", :id => "van1") %></p>
  </div>

</div>
