<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= javascript_include_tag :defaults, 'jquery-ui-1.8.9.custom.min', 'autocomplete-rails', 'jquery.cookie' %>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="wrapper container">               <!-- START: container -->
      <div class="span-24 header">                <!-- START: header -->
      <%= render 'layouts/header' %>
      </div>                                      <!-- END: header -->
      
      <div class="span-4">                        <!-- START: left_bar -->
        <%= render 'layouts/left_bar' %>
      </div>                                      <!-- END: left_bar -->
      <div class="span-16">                       <!-- START: main -->
        <section>
          <%= yield %>
        </section>
      </div>                                      <!-- END: main -->
      <div class="span-4 last">                   <!-- START: right_bar -->
        <%= render 'layouts/right_bar' %>
      </div>                                      <!-- END: right_bar -->
      <div class="push"></div>
    </div>                                        <!-- END: container -->
    <div class="span-24 footer">                  <!-- START: footer -->
      <%= render 'layouts/noscript' %>
      <%= render 'layouts/footer' %>
    </div>                                        <!-- END: footer -->

  </body>
</html>